{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}
{{listings}}

{% block content %}
    <div class="row">
        <p>
            This is table is renderd on the Server. Flask gets the data from the database and uses jinja templates to dyanmically render this page when a request is sent to <a href="/users">/users</a>.
        </p>
    </div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>Username</th>
          </tr>
        </thead>
        <tbody>
          {% for listing in listings %}
            <tr>
                <td>{{listing.id}}</td>
                <td>{{listing.name}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
{% endblock %}