{% extends "layout.html" %}
{% block title %}App Users{% endblock %}
{% block page %}App Users{% endblock %}

{{ super() }}

{% block content %}
  CART JSON: {{cart.toJSON()}}
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Id</th><th>Order</th>
          </tr>
        </thead>
        <tbody>
          {% for order in cart.order %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.listing.toJSON()}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
{% endblock %}